In [14]:
!pip install biopython
import pandas as pd
import numpy as np
import Bio as bio

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: biopython in /Users/Grant/Library/Python/2.7/lib/python/site-packages (1.76)
Requirement already satisfied: numpy in /Users/Grant/Library/Python/2.7/lib/python/site-packages (from biopython) (1.16.6)

In [18]:
def FastaReader(fastafile):
    from Bio import SeqIO
    with open(fastafile) as fasta_file:  # Will close handle cleanly
        identifiers = []
        lengths = []
        seqs = []
        for seq_record in SeqIO.parse(fasta_file, 'fasta'):  # (generator)
            identifiers.append(seq_record.id)
            seqs.append(seq_record.seq)
        df = pd.DataFrame(identifiers)
        df["Sequence"] = seqs
    return df

In [20]:
genomes = FastaReader('./ncbi_dataset/data/genomic.fna')
proteins = FastaReader('./ncbi_dataset/data/protein.faa')

In [21]:
genomes

                 0                                           Sequence
0      AC_000192.1  (T, A, T, A, A, G, A, G, T, G, A, T, T, G, G, ...
1       AF095702.1  (A, T, G, T, T, G, G, T, G, A, A, G, T, C, A, ...
2       AF220295.1  (G, A, T, T, G, T, G, A, G, C, G, A, T, T, T, ...
3       AF353511.1  (A, C, T, T, A, A, A, A, A, G, A, T, T, T, T, ...
4       AF391541.1  (G, A, T, T, G, C, G, A, G, C, G, A, T, T, T, ...
...            ...                                                ...
12482   MT831673.1  (T, A, A, A, G, G, T, T, T, A, T, A, C, C, T, ...
12483   MT831674.1  (T, A, A, A, G, G, T, T, T, A, T, A, C, C, T, ...
12484   MT831675.1  (T, T, A, A, A, G, G, T, T, T, A, T, A, C, C, ...
12485   MT831676.1  (T, A, T, A, C, C, T, T, C, C, C, A, G, G, T, ...
12486   MT831677.1  (T, A, T, A, C, C, T, T, C, C, C, A, G, G, T, ...

[12487 rows x 2 columns]

In [22]:
proteins

                        0                                           Sequence
0         AAA42914.1:1-84  (M, F, M, A, D, A, Y, F, A, D, T, V, W, Y, V, ...
1         AAA66393.1:1-18  (M, F, L, L, L, R, F, V, L, V, S, C, I, I, G, ...
2        AAA66393.1:1-424  (M, F, L, L, L, R, F, V, L, V, S, C, I, I, G, ...
3       AAA66393.1:19-424  (F, D, N, P, P, T, N, V, V, S, H, L, N, G, D, ...
4        AAA66397.1:1-448  (M, S, F, T, P, G, K, Q, S, S, S, R, A, S, F, ...
...                   ...                                                ...
366794   QMT55033.1:1-121  (M, K, I, I, L, F, L, A, L, I, T, L, A, T, C, ...
366795    QMT55034.1:1-43  (M, I, E, L, S, L, I, D, F, Y, L, C, F, L, A, ...
366796   QMT55035.1:1-121  (M, K, F, L, V, F, L, G, I, I, T, T, V, A, A, ...
366797   QMT55036.1:1-419  (M, S, D, N, G, P, Q, N, Q, R, N, A, P, R, I, ...
366798    QMT55037.1:1-38  (M, G, Y, I, N, V, F, A, F, P, F, T, I, Y, S, ...

[366799 rows x 2 columns]